.section{
    padding: 20px 0;
}

.space {
    height: 15vh;
    /*160px;*/
}

#mbutton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index:20;
    cursor: pointer;
}

#gotopbutton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index:20;
    cursor: pointer;
}

#home {
    margin-top: -20px;
    min-height: 80vh;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#selfIntroduction {
    margin-top: -20px;
    background-image: url("../img/introbg1.png");
    min-height: 80vh;
}


#projectField {
    background-image: url("../img/contactbg.png");
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui.opaci1.segment {
    background: rgba(0, 37, 77, 0.31);
}

.ui.opaci2.segment {
    background: rgba(232, 236, 241, 0.31);
}
